* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-brand-primary: #1d99ff;
  --color-brand-secondary: #ff455b;
  
  --color-feedback-error: #f1526e;
  --color-feedback-info: #3da4f3;
  --color-feedback-success: #00c689;
  --color-feedback-warning: #fdbf35;

  --color-text-dark: #708aa1;
  --color-text-light: #aebdc9;
  
  --color-interface-light: #f1f4f6;
  --color-interface-dark: #d5e0ec;
  
  --color-common-light: #ffffff;
  --color-common-dark: #000000;

  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-default: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;

}

body {
  font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
  font-size: 16px;
  
}

.container-corpo {
  background-color: var(--color-interface-light);
  border-left: 1px solid var(--color-interface-dark);
  border-top: 1px solid var(--color-interface-dark);
  border-right: 1px solid var(--color-interface-dark);
  padding: 0 15px 15px 15px;
}
.container-corpo-tarefas {
  background-color: var(--color-interface-light);
  border-right: 1px solid var(--color-interface-dark);
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  background-color: var(--color-interface-light);
  border-left: 1px solid var(--color-interface-dark);
  border-top: 1px solid var(--color-interface-dark);
  border-right: 1px solid var(--color-interface-dark);
  padding: 10px;
}

.header-item {
  display: flex;
  justify-content: space-between;
}
header > div.container {
  display: flex;
  justify-content: space-between;
} 

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.title {
  line-height: 1.2;
  letter-spacing: -3px;
  font-weight: 400;
  font-size: 3.9vh;
  color: var(--color-text-light);
}

.subtitle {
  line-height: 1.2;
  font-weight: 700;
  font-size: 1.6vh;
  color: var(--color-brand-primary);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

body {
  max-width: 45vw;
  margin: auto;
  padding: 25px;
}

.principal-container {
  margin: 20px 0;
}

.principal-container label {
  color: var(--color-text-dark);
  font-weight: bold;
}

.formulario-tarefas {
  display: flex;
  justify-content: space-between;
}

.formulario-tarefas input {
  padding: 8px;
  border: 1px solid var(--color-text-dark);
  border-radius: 5px;
  width: 100%;
}

.formulario-tarefas button {
  background-color: var(--color-brand-secondary);
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  margin-left: 3px;
}

.container-inferior {
background-color: var(--color-common-light);
border: 1px solid var(--color-interface-dark);
border-radius: 0 40px 0 0;
height: 50vh;
margin: 0px;
}

.container-tarefas {
  margin-top: 30px;
  
}

.tarefa-adicionada {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.tarefa-adicionada p {
  margin-left: 5px;
  width: 80%;
}

.tarefa-adicionada button {
  color: var(--color-text-dark);
  padding: 0 5px;
  margin-right: 0px;
}

.tarefa-adicionada input {
  all:unset;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.tarefa-concluida {
  text-decoration: line-through;
}

.tarefa-adicionada input {
  border: 1px solid var(--color-text-dark);
  border-radius: 2px;
}

.tarefa-adicionada input:checked {
  background-color: var(--color-text-dark);
}
